click==8.0.3
dill==0.3.6
gym==0.21.0
matplotlib==3.3.4
multiprocess==0.70.12.2
numpy==1.19.5
scipy==1.4.1
six==1.16.0
tabulate==0.8.9
torch==1.10.2
tqdm==4.64.0
importlib-metadata==4.13.0
Pillow==9.4.0
